@model StoreDetailsViewModel
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>The Zareen-Kob Store</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Zareen Kob - Store</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contcts</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>


    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="card text-right">
                    <div class="card-header">
                        Categorise
                    </div>
                    <ul class="list-group list-group-flush">
                        @{
                            foreach (var item in Model.Categories)
                            {
                                <li class="list-group-item">
                                    <a href="/Store/Index/@item.CategoryID">@item.CategoryName</a>
                                </li>

                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="card text-right">
                    <div class="card-header"> Prodcuts Details </div>
                    <div style="padding:20px">
                        <div class="row">
                            <div class="col-lg-3">
                                <img src="~/imgs/@Model.Product.ProductImage" height="180" />
                            </div>
                            <div class="col-lg-9">
                                <p><span style="color:blue">Product Name:</span> <span> @Model.Product.ProductName </span></p>
                                <p><span style="color:blue">Product Price:</span> <span> @Model.Product.ProductPrice </span></p>
                                <p><span style="color:blue"> Prodcuts Details:</span> <span> @Model.Product.ProductDesc </span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="text-center text-white">  k_A00121 Was Here - 2024 </p>
        </div>
    </footer>

    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
