html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
}
me-auto {
    margin-left: 10px !important;
    margin-right : auto !important;
}

container {
    margin-top: 10px !important; 

}

footer {
margin-top : 80px !important;
}